# ENVIRONMENT NAME
# List of expected values: Development, Staging, Production
ENV_NAME=Development

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=secret

# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# Staging and Production only
DATABASE_USERNAME=db_user
DATABASE_PASSWORD=secret

# All environments
EMAIL_HOST_USER=secret
EMAIL_HOST_PASSWORD=secret