{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Inventaire de produits{% endblock %}

{% block content %}
<main id="inventory-page" class="container">
    {% bootstrap_messages %}
    <nav class="navbar row">
        <form class="d-flex col" role="search">
            <input class="form-control me-2 md-6" type="search" name="q" value="{{ filters.q }}" placeholder="Chercher un stock par entreprise, produit ou site" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Rechercher</button>
        </form>
        <ul class="navbar-nav col text-end">
            <li class="nav-item">
                <a class="btn btn-primary" href="{% url 'stock:add' %}">Ajouter un stock</a>
            </li>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Site</th>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.location.get_type_display }}</td>
                <td>{{ stock.location.company.name }}</td>
                <td>{{ stock.location.name }}</td>
                <td>{{ stock.product.name }}</td>
                <td>{{ stock.quantity }}</td>
                <td>
                    <div class="btn-group me-2 btn-group-sm" role="group" aria-label="Basic example">
                      <a class="btn btn-outline-primary" href="{% url 'stock:edit' stock.id %}" title="Modifier">{% bs_icon 'pencil-fill' %}</a>
                      <a class="btn btn-outline-secondary" href="{% url 'product:list' %}?q={{ stock.product.sku }}" title="Voir produit">{% bs_icon 'info-circle-fill' %}</a>
                      <a class="btn btn-outline-danger" href="{% url 'stock:delete' stock.id %}" title="Supprimer">{% bs_icon 'trash-fill' %}</a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Aucun stock</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="paginator-container">
        {% bootstrap_pagination page_obj url=request.get_full_path %}
        <p class="side total text-end">{{ page_obj.paginator.count }} résultat{% if page_obj.paginator.count > 1 %}s{% endif %}</p>
    </div>
</main>
{% endblock %}