{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <main id="auth-page" class="container">
        <div class="content p-6 reduced-width">
            <h3 class="text-center">Connexion</h3>
            {% bootstrap_messages %}
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form layout="floating" %}
                <div class="text-center">
                    {% bootstrap_button button_type="submit" content="Se connecter" %}
                    <p>Mot de passe oublié ? <a href="{% url 'password_reset' %}">Réinitialiser votre mot de passe.</a></p>
{#                    <p>Pas inscrit ? <a href="{% url 'register' %}">Créer un compte.</a></p>#}
                </div>
            </form>
        </div>
    </main>
{% endblock %}