{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Profile{% endblock %}

{% block content %}
    <main id="auth-page" class="container">
        <div class="content p-6 reduced-width">
            <h3 class="text-center">Profile</h3>
            {% bootstrap_messages %}
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form layout="floating" %}
                <p><a href="{% url 'account:password_change' %}">Changer de mot de passe</a></p>
                <div class="text-center">
                    {% bootstrap_button button_type="submit" content="Mettre à jour" %}
                </div>
            </form>
        </div>
    </main>
{% endblock %}