{% load bootstrap_icons %}
<header>
    <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand" href="/">{% bs_icon 'box-seam' size='1.5em' %}PyStock</a>

                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
                        {% if request.user.is_staff %}
                        <li class="nav-item"><a class="nav-link {% if 'dashboard' in request.path %}active{% endif %}" href="{% url 'dashboard' %}">Tableau de bord</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link {% if 'inventory' in request.path %}active{% endif %}" href="{% url 'stock:list' %}">Inventaire</a></li>
                        <li class="nav-item"><a class="nav-link {% if 'catalog' in request.path %}active{% endif %}" href="{% url 'product:list' %}">Catalogue</a></li>
                        <li class="nav-item"><a class="nav-link {% if 'movements' in request.path %}active{% endif %}" href="{% url 'stock:movements' %}">Mouvements</a></li>
                        {% if request.user.is_staff %}
                        <li class="nav-item"><a class="nav-link {% if 'management' in request.path %}active{% endif %}" href="{% url 'management:company:list' %}">Gestion</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% bs_icon 'person-fill' size='1.5em' %} {{ request.user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Mon compte</a></li>
                                {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li><form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="dropdown-item" type="submit">Se déconnecter</button>
                                </form></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>