{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <main id="home-page" class="container text-center">
        <div class="p-2">
            <p class="fw-bold">PyStock est votre application de gestion de stocks multi-entreprises.</p>
            <p>Vous serez en mesure de :</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">gérer votre catalogue par catégorie</li>
                <li class="list-group-item">répartir vos stocks par site et entreprise</li>
                <li class="list-group-item">mettre à jour et tracer les mouvements de stocks (entrées, sorties, transferts)</li>
                <li class="list-group-item">définir des seuils d'alerte de stock par produit</li>
            </ul>
            {% if not request.user.is_authenticated %}
            <br>
            <a class="btn btn-primary" href="{% url 'login' %}">Connexion</a>
{#            <a class="btn btn-outline-primary" href="{% url 'register' %}">S'inscrire</a>#}
            {% endif %}
        </div>
    </main>
{% endblock %}